{% extends "base_site.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% include "site_template/navigation.html" %}
      
    <!-- Header -->
    <div class="header pb-3 pt-5 pt-lg-3 d-flex align-items-center" style=" background-size: cover; background-position: center top;">
    <!-- Mask -->
    <!-- Header container -->
    </div>
      
    <!-- Page content -->
                  
                    
<div align="center">
<div class="row mt-5" >
        <div class="col-xl-8 ml-2 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="text-center mb-4">Task List</h1>
                </div>
                                     {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}  
                                                      {% if (message.startswith("Thanks")) %}
                                                      <div class="alert alert-success alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% else %}
                                                      <div class="alert alert-danger alert-dismissible" role="alert">
                                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          {{message}}
                                                      </div>
                                                      {% endif %}

                                                      {% endfor %} {% endif %} {% endwith %}  
               
  
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Task ID</th>
                    <th scope="col">Task</th>
                    <th scope="col">Task Details</th>
                    <th scope="col">Task Creator</th>
                    <th scope="col">Location or Pincode</th>
                    <th scope="col">Required no of volunteers</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Website</th>
                  </tr>
                </thead>
                <tbody>
                  {% for value in data %}
                  <tr>
                    <td>
                      {{value[0]}}
                    </td>
                    <td>
                      {{value[1]}}
                    </td>
                    <td>
                      {{value[8]}}
                    </td>
                    <td>
                      {{value[3]}}
                    </td>
                    <td>
                      {{value[5]}}
                    </td>
                    <td>
                      {{value[7]}}
                    </td>
                    <td>
                      {{value[6]}}
                    </td> 
                    <td>
                      <a href="{{value[4]}}">{{value[3]}}</a>  
                    </td>                  
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
			  </div>
            </div>
          </div>
        </div>
    </div>
        {% include "site_template/footer.html" %}
        
    </div>   
  </div> 

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $.getJSON("/tasks_list", function(data){

        if( data["data"].length > 0 ) {

           
            for(var i = 0; i < data["data"].length; i++)
            {
                html_code += data["data"][i]["task"]
            }

            $("th").html(html_code)

        }

        else {

            $("th").html("Empty Message");
        }
</script> -->
	
{% endblock content %}

<!-- {% block javascripts %}
  {{ super()}}
{% endblock javascripts %} -->
